/*
   @author: Elias Posluk
   Student-id: poel20ty
   Uppgift: Inloggningssida
   @date 10/09/2020
   
*/

body{
    background-color: aqua;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
